<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="title_config"></span>
        </a>
        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Užitočné odkazy</h4>
        <ul>
          <li><a href="#">Úvod</a></li>
          <li><a href="#">O nás</a></li>
          <li><a href="#">Služby</a></li>
          <li><a href="#">Obchodné podmienky</a></li>
          <li><a href="#">Ochrana osobných údajov</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Ponúkané služby</h4>
        <ul>
          <li><a href="#">Augmentácia tímu</a></li>
          <li><a href="#">Administratívne práce</a></li>
          <li><a href="#">Pomocné práce</a></li>
          <li><a href="#">Upratovacie práce</a></li>
          <li><a href="#">Autodoprava</a></li>
<!--          prompt: create realistic photos of logistic company (cleaning service) resources image, ultra quality, ultra realistic, in color theme of   &#45;&#45;light-green: #64cda3;   &#45;&#45;dark-green: #0caba5;   &#45;&#45;light-blue: #2792ab;   &#45;&#45;dark-blue: #133656;-->
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Kontakt</h4>
        <p class="address_config"></p>
        <strong>Phone:</strong><p><a href="tel:" title="Zavolať" class="phone_config footer-contact_link"></a></p>
        <strong>Email:</strong><p><a href="emailto:" title="Odoslať email" class="email_config footer-contact_link"></a></p>
      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span class="title_config"></span></strong>. Všetky práva vyhradené
    </div>
    <div class="credits">
      Navrhol Richard Sabol
    </div>
  </div>

</footer>
<!-- End Footer -->
